/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; 
}

body {
  background-color: #FFFFFF;
  font: 0.834em Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}


h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { 
  margin: 1em 0; 
}

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*table {
  font-size: inherit;
  font: 100%;
}*/

ul {
  margin-left: 1.35em;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 75%;
  max-width:52em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header {
  border-bottom: 4px solid #eee;
  margin-bottom: 1em;
  text-align: center;
  z-index:-5;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 0em;
}

.site .header h1.title a {
  color: #56A0D3;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
  z-index:-1;
}

.site .header a.extra:hover {
  color: #000;
  z-index:-1;
}

a.extra{
  z-index:-1;
}
.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  margin-right: 3em;
  text-align: center;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

.site ul, .site ol {
  margin-left: 2em;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/


/* Images */

.post img{
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* standard */
.post h1 {
  font-size: 140%;
  margin-top: 1em;
}

.post h2 {
  font-size: 120%;
  margin-top: .5em;
}

.post h1 {
  font-size: 110%;
  margin-top: .5em;
}


pre {
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.end {
  margin-top: 1em;
  font-style: italic;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.output {
    background: #ccc;
    color: #black;
    height: 100px;
    overflow: auto;
    font-family: "Consolas","Lucida Console","Monaco",monospace;
    font-size: 9pt;
}

pre {
margin-left: 14px;
font-size: 16px;
line-height: 1.2em;
}

code, pre {
  color: #444;
}

.codeblock{
  padding: 0 .4em;
  margin-left: 14px;
}
.codeblock pre.output{
  margin-left: 0;
  padding: 0;
}

.codeblock p{
  margin-bottom: 0;
}
/*******************/
/*
/*Forms
/*
/*******************/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form header {
  margin: 0 0 20px 0; 
}
form header div {
  font-size: 90%;
  color: #999;
}
form header h2 {
  margin: 0 0 5px 0;
}
form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
	width: 25%;
  float: left;
  padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
  width: 75%;
  float: right;
}
form > div > fieldset label {
	font-size: 90%;
}
fieldset {
	border: 0;
  padding: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
	width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
}
@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: right;
  }
}


/*****************************************************************************/
/*
/* Responsive Layouts
/*
/*****************************************************************************/
@media screen and (max-width: 47em) {
  body{
    width 90%;
  }
table.posts {
  margin-bottom: 2em;
  border-collapse: collapse;
}

table.posts tr {
  line-height: 1.75em;
}

tbody.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -99999px;
    left: -99999px;
  }
  tr{
    border: 1px solic #ccc;
  }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    padding-left: 25%;
    position: relative;
  }
  td:before {
    position: relative;
    top: 0.4em;
    left: -25%;
    width: 25%;
    padding-right: 0.62em;
    white-space: nowrap;
  }
  td.post_date:before {content: "Date"; }
  td.post_title:before {content: "Post"; }
  td.post_author:before {content: "Author(s)"; }  
}
  
@media screen and (min-width:47em){
  table.posts {
  margin-bottom: 2em;
  width: 100%;
  border-collapse: collapse;
  margin-left: 1.35em;
}

table.posts tr {
  line-height: 1.75em;
}

tbody.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}
}
  
  
  
  
  